body{
    background-color: #eee;
}

p{
    color: #222fff;
    text-align: left; /*opcion que hay center, right, left y justify*/
    text-indent: 40px; /*Sangria*/
    line-height: 1.7; /*separacion entre lineas*/
    word-wrap: 10px;/*espacio entre palabras*/
    text-shadow: 5px 2px 2px rgba(0, 0, 0, 0.5);
}

a{
    text-decoration: none; /*tambien se puede usar overline, line-through, underline*/
    text-transform: capitalize;/*uppercase, lowercase, capitalize*/
    letter-spacing: 3px; /*separacion entre letras*/
}