.flex{
    display: flex;
    /*flex-direction: row;/*jugar con la opciones autocompletadas*/
    /*flex-wrap: wrap; /*acomoda los elementos para no salga del los limites establecidos "width: 200px"*/
    flex-flow: row wrap;
    /*justify-content: space-evenly;*/
    height: 200px;
    /*align-content: space-evenly;/*indica como vamos a distribuir el contenido dentro de los limites*/
}
.red{
    background-color: red;
}

.primero{
    flex-grow: 1;
}
.tercero{
    flex-grow: 2;
}
.segundo{
    flex-grow: 1;
}