body {
    background-color: #eeeeee;
}

.grid{
    display: /*grid va hasta el fondo*/ grid;
    grid-template-rows: repeat(auto-fill, auto);  
    grid-template-columns: repeat(4, auto);
    grid-gap: 5px;
}

.element {
    background-color: red;
}